///////////// header /////////////

.lmla-logo img {
  padding:0;
  min-width:14rem;
  width: 90%;
  @include tablet {
      padding: 1rem 0 0 1rem;
  }


}

.logo-menu-wrapper {
  @include tablet {
    display:flex;
    justify-content:space-between;
  }
}

.site-branding {
  display:flex;
  flex:0 1 40%;
}

.lmla-search-wrapper {
  display:flex;
  align-self:flex-end;
  @include tablet {
  align-self: flex-end;
  }
}

.main-navigation li {
  text-align:right;
  display:inline-block;
  @include tablet {
    align-self: flex-end;
  }
}

.main-navigation a, nav {
  padding-right:1rem;

  .main-navigation {
    clear:both;
    width:100%;
    @include tablet {
      text-align:right;
      display:flex;
      flex:0 1 60%;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }
}

nav {
  flex:1 0 60%;
  display:flex;
  align-self:flex-end;
  flex-direction:column;
  height:100%;
  nav li {
    @include tablet {
      display:flex;
      align-self: flex-end;
    }
  }

}




///////////// footer /////////////

.site-footer {
  background-color: #CCC;
}
