.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
<<<<<<< HEAD
.site-content:after,
.site-footer:before,
.site-footer:after {
=======
.site-content:after {
>>>>>>> f9845b96cde3763cba43b6f44eabb94302e27700
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
