img[src=""] {
    display: none;
}


//BACKGROUND COLOURS STAGING SITE

// Butterfly

.postid-162 .section-wrapper-description, .postid-162 .section-wrapper-teachers, .postid-162 .section-wrapper-assessment {
  background: #FDDFF1;
}

// Hare

.postid-170 .section-wrapper-description, .postid-170 .section-wrapper-teachers, .postid-170 .section-wrapper-assessment {
  background: #BFE5BA;
}

// Fish

.postid-177 .section-wrapper-description, .postid-177 .section-wrapper-teachers, .postid-177 .section-wrapper-assessment {
  background: #FFF6BF;
}

// Deer

.postid-179 .section-wrapper-description, .postid-179 .section-wrapper-teachers, .postid-179 .section-wrapper-assessment {
  background: #F3DBC6;
}

// Rooster

.postid-181 .section-wrapper-description, .postid-181 .section-wrapper-teachers, .postid-181 .section-wrapper-assessment {
  background: #F8C6CD;
}

// Accent Reduction

.postid-183 .section-wrapper-teachers {
  background: #FFFACD;
}

// University Prep

.postid-189 .section-wrapper-teachers {
  background: #FFFACD;
}

// Innovators Program

.postid-191 .section-wrapper-teachers {
  background: #FFFACD;
}

//Math Program

.postid-193 .section-wrapper-teachers {
  background: #FFFACD;
}

// HEADING //

.course-overview-wrapper {
  width: 100%;
}

.courses-header-image {
  text-align: center;
}

.single-courses .entry-header {
  display: flex;
  justify-content: center;
}



// Staging Site
.postid-183 .course-title, .postid-189 .course-title, .postid-191 .course-title, .postid-193 .course-title, .postid-195 .course-title, .postid-197 .course-title {
  padding: 20px 0;
}

.animal-logo img {
  width: 4em;
  height: 4em;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5em;
}

.section-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.3em 0;
  padding: 0.4em 0;
  text-align: center;
}

.course-title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.age-range {
  font-size: 1.1em;
  margin:0;
}

.section-wrapper {
  margin:0 auto;
}

.course-description {
  margin: 0 auto;
  padding-bottom: 1em;
  max-width: 600px;

  p {
    margin: 0.2em 0;
  }
}

// SPECIAL EXTRA CONTENT for FISH section //

.special-header {
  display: flex;
  flex-direction: column;
}

.section-wrapper-additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.additional-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.courses-header-image-additional {
  width: 100%;
  margin: 0;
  padding-top: 1em;
  text-align: center;
}

.additional-info-wrapper {
  width: 100%;
}

// OBJECTIVES //

.objectives ul {
  margin: 0.3em 0.5em;
  padding-left: 1em;
}

.section-subhead {
  text-align: center;
  margin: 0;
}

.up-titles {
  font-size: 1.2em;
  text-align: center;
}
//Dev site

.postid-158 .objectives {
  width: 100%;
}
.postid-189 .objectives {
  width: 100%;
}



// TEACHERS //

.section-title-teacher {
  margin-bottom: 0;
  padding-top: 0.6em;
  text-align: center;
}

.single-teacher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.teacher-profile-pic {
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
  width: 200px;
  height: 200px;

  a {
    display: inline-block;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.teacher-name {
  text-align: center;
  margin: 0.5em 0;
}

// PROJECTS //

.project-title {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

.projects-description {
  margin: 0 auto;
  max-width:600px;
  padding-bottom: 1em;

  p {
    margin: 0.2em 0;
  }
}

.single-project-wrapper {
  display: flex;
  flex-direction: column;
}

.project-link-btn, .download-link-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: .8em 1.4em;
  border-radius: 10px;
  font-size: 1em;
  max-width: 430px;
  text-decoration: none;
}

.project-link-btn a, .download-link-btn a {
  text-decoration: none;
}

.section-wrapper-form {
  display: flex;
  flex-direction: column;
}

// ASSESSMENT //

.section-wrapper-assessment {
  padding-bottom: 1.5em;
}

.assessment-video {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 1em;
}

.assessment-description {
  padding-bottom: 1em;
  margin: 0 auto;
  max-width: 600px;

  p {
    margin: 0.2em 0;
  }
}
// ASSESSMENT FORM //

.request-form {
  border: 2px solid grey;
  margin: 0 1em;
  padding: 0.5em;
}

.gform_title {
  border-bottom: double;
  text-align: center;
}

.gfield_required {
  display: none;
}

.gfield_label {
  font-weight: normal !important;
  font-size: 80% !important;
}

.gform_body input {
  border-radius: 5px !important;
}

.gform_footer {
  display: flex;
  justify-content: center;
}

.gform_footer input {
  color: #ffffff;
  background: #EC008C;
  border: transparent;
  border-radius: 5px;
  max-width: 150px;
}

.objective-img-wrapper {
  text-align: center;
}

.postid-170 .section-wrapper-description {
  padding-top: .75em;
}

@media (min-width: 768px) {

  .postid-158 .objectives {
    width: 33%;
  }

  .postid-189 .objectives {
    width: 33%;
  }


  // Butterfly
  .postid-162 .section-wrapper-description, .postid-162 .section-wrapper-teachers, .postid-162 .section-wrapper-assessment {
    background: #ffffff;
  }

  .postid-162 .section-wrapper-objectives, .postid-162 .section-wrapper-assessment {
    background: #FDDFF1;
  }

  // Hare
  .postid-324 .section-wrapper-description, .postid-170 .section-wrapper-description, .postid-170 .section-wrapper-teachers, .postid-170 .section-wrapper-assessment {
    background: #ffffff;
    padding-top: 1em;
  }

  .postid-170 .section-wrapper-objectives, .postid-170 .section-wrapper-assessment {
    background: #BFE5BA;
  }

  // Fish
  .postid-177 .section-wrapper-description, .postid-177 .section-wrapper-teachers, .postid-177 .section-wrapper-assessment {
    background: #ffffff;
  }

  .postid-177 .section-wrapper-objectives, .postid-177 .section-wrapper-assessment {
    background: #FFF6BF;
  }

  // Deer
  .postid-179 .section-wrapper-description, .postid-179 .section-wrapper-teachers, .postid-179 .section-wrapper-assessment {
    background: #ffffff;
  }

  .postid-179 .section-wrapper-objectives, .postid-179 .section-wrapper-assessment {
    background: #F3DBC6;
  }

  // Rooster
  .postid-181 .section-wrapper-description, .postid-181 .section-wrapper-teachers, .postid-181 .section-wrapper-assessment {
    background: #ffffff;
  }

  .postid-181 .section-wrapper-objectives, .postid-181 .section-wrapper-assessment {
    background: #F8C6CD;
  }

  // Accent Reduction

  .postid-183 .section-wrapper-teachers {
    background: #ffffff;
  }

  .postid-183 .section-wrapper-objectives, .postid-183 .section-wrapper-assessment {
    background: #FFFACD;
  }

  // University Prep

  .postid-189 .section-wrapper-teachers {
    background: #ffffff;
  }

  .postid-189 .section-wrapper-assessment {
    background: #FFFACD;
  }

  // Math Program

  .postid-193 .section-wrapper-teachers {
    background: #ffffff;
  }

  .postid-193 .section-wrapper-assessment {
    background: #FFFACD;
  }

  // Spring and Summer Intensive

  .postid-195 .section-wrapper-assessment {
    background: #FFFACD;
  }

  .postid-197 .section-wrapper-assessment {
    background: #FFFACD;
  }

//Additional Info Fish Course //

.courses-header-image-additional {
  width: 48%;
  margin: 0;
  display: inline-block;
}

.additional-info-wrapper {
  width: 48%;
  display: inline-block;
}


  // OBJECTIVES //

  .objectives-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
  }

  .objective-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .objectives {
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:50%;
    max-width:420px;
  }

  .postid-312 .objectives {
    max-width:400px;
  }

  // TEACHERS //

  .teachers-wrapper {
    display: flex;
    justify-content: center;
  }

  .section-subhead {
    display: none;
  }

  .single-teacher {
    padding: 2em;
  }

  // PROJECTS //

  .section-wrapper-projects {
    padding-bottom: 1.5em;
  }

  .project-image {
    margin: 0 auto;
    padding-bottom: 1em;

  }
}
