

.site-footer h2 {
	font-size: 1.3em;
	padding-bottom:1em;;
	margin:0 auto;
	text-align:center;
}

.site-footer {
	margin-top: 1em;
	padding:0;
	font-family: 'Fira Sans', sans-serif;
	color: #000;
}

.site-footer ul {
	margin:0;
}

.site-footer {
	font-family: 'sans-serif';
	text-align: center;
	color:#FFF;
		a {
			text-decoration:none;
			color: #000;
			cursor: pointer;
		}
}

.site-info {
	font-size: .8em;
	color:#000;
	padding:2em 0;
	span {
		padding:0 .5em 0 .5em;
	}
}

.footer-wrapper {
	background-color: #00ADEF;
}

//contact info widget

.contact-info {
	font-family:sans-serif;
	border-bottom:1px solid #FFF;
	flex: 0 0 30%;
	a {
		color:#FFF;
	}
	p {
		width: 300px;
		padding: 0;
		margin: 0 auto;
	}
}

//social media links

.lmla-social {
	border-bottom:1px solid #FFF;
}

.lmla-social li {
    display:inline;
}

.lmla-social ul {
    margin:0 auto;

}

li .fa-facebook {
	position:relative;
	font-size:42px;
	margin-right:1em;
}

li .fa-youtube {
	font-size:38px;
	position:relative;
	bottom:3px;
}

li .fa-soundcloud {
	background-color: #FC6621;
	margin-right:1em;
	position:relative;
	font-size:36px;
	bottom:6px;
	padding:.25em;
	width:60px;
	height:60px;
	border-radius:100%;
	color:#FFF;
}

li .fa-facebook, li .fa-youtube {
	padding:.25em;
	width:60px;
	height:60px;
	background-color: #000;
	border-radius:100%;
	color:#FFF;
}

// language preference

#footer_language_list ul {
  list-style: none;
	display:block;
  margin:0;
  padding:0;
}

.lang-pref li {
	text-align:center;
	width: 100px;
	padding:.5em;
	font-family: 'Roboto Light', sans-serif;
	font-size:1em;
	border:1px solid #FFF;
	margin: 0 auto ;
  margin-bottom: 1em;


}
.lang-pref li a {
	text-decoration:none;
	color: #FFF;
}

.lang-pref-wrapper {
	flex-direction: column;
	justify-content: flex-start;
	display:flex;
	flex:0 0 30%;
	text-align:center;
}


.contact-info, .lmla-social, .lang-pref-wrapper {
	padding: 1em .5em 1em .5em;
}

@media screen and (min-width: 50em) {
			.lang-pref li {
				display:inline-block;
			}
			.contact-info p {
			    width: 250px;
					margin-right: auto;
			    margin-left: auto;
				}

		.lang-pref li:first-child {
				margin-right: .5em;
			}
}

@media screen and (min-width: 62em) {

.contact-info p {
	width: 250px;
		padding: 0 1em 0 1em;
}

	.contact-info, .lmla-social, .lang-pref-wrapper {
		padding: 1em 0em;
		margin:1em;
		border:none;
	}

	.footer-wrapper {
		display: flex;
		justify-content: space-between;

	}

	.contact-info {
		flex-direction:column;
		display:flex;
		flex:0 0 30%;
    text-align: left;
	}

	.lmla-social {
		flex-wrap: wrap;
		display:flex;
		flex:0 0 30%;
		text-align:center;
	}

	.lang-pref {
		flex-direction: column;
		display:flex;
		flex:0 0 30%;
		margin-top: 2.5em;
}
		.lmla-social ul {
			    padding:0;
					margin: 0 auto;
		}

}
