//hide pix plugins

.page-template-front-page .page-title {
    font-size:80%;
  }


//mapscroll de-activation
.content-container {
    margin:1em auto;
    width: 828px; height: 466px;
}
//end mapscroll de-activation

.lmla-partner-form {
  margin: 0 1em;
  padding: 0.5em;
}

.hp-course-excerpt p {
  margin:0 .5em 0 .5em;
}
.hp-course-excerpt {
  margin:0;
}

.hp-blog-wrapper {
  padding: 1em .25em .7em .25em;
  margin:0 auto;

}

.hp-blog-post ul {
  margin: 0;
  padding: 0;
}

.hp-blog-post li {
    display: inline;
    text-align: justify;
}

.group-2-programs-wrapper {
  margin: 0 auto;
}

.group-course-wrapper {
  padding-top: 10px;
  margin:0 auto;
  max-width:420px;
}

.group-course-wrapper {
  padding: 1em .25em .7em .25em;
  margin:0 auto;
  max-width:420px;
}

.group-course-wrapper h2 {
  font-size:2em;
}

.newsletter-form {
  margin:0 3em;
}

.video-3-bkgd, .group-2-bkgd, .newsletter-bkgd {
  padding:2em 0;
  background:
  linear-gradient(to bottom,rgba(206,235,254,.5) 100%,rgba(206,235,254,.5) 100%);
  background-size: cover;
}

.hp-course-title { // all other homepage titles
  text-align:center;
  display: table;
  margin: .75em auto;
  text-decoration: none;
  border-bottom: double;
  line-height: 23px;
  font-size: 1.3em;

}

.hp-course-image {
  line-height: 0;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.hp-course-image img {
  display: inline;
  margin: 0 auto;
  width:100%;
  height:100%;
}

.more-info-homepage {
  font-family:'Roboto Light',sans-serif;
  font-size:1.2em;
  font-weight:200;
  text-align:right;
  margin: .75em 2em 1em 0;
}

.more-info-homepage a {
  text-decoration: none;
  color: #00ADEF !important;
}

.more-info-homepage a::after {
  font-family:'fontawesome';
  content: ' \f101';
  // content: " 》";
}

.video-quote h3 {
  text-align:center;
  color:#666;
  margin-top:1em;
}

.topic-button {
  font-family: 'Roboto Light',sans-serif;
  display:inline-block;
  background-color: #00ADEF;
  text-align: center;
  padding: .5em 1em;
  border-radius: 10px;
  font-size: 1.2em;
  a{
    text-decoration:none;
  }
}


.gform_wrapper #gform_submit_button_20, //contact
.gform_wrapper #gform_submit_button_22, //newsletter
.gform_wrapper #gform_submit_button_32, //career
.gform_wrapper #gform_submit_button_33, //spring intensive
.gform_wrapper #gform_submit_button_35, //accent reduction
.gform_wrapper #gform_submit_button_39, //partnerships
.gform_wrapper #gform_submit_button_34, // math
.gform_wrapper #gform_submit_button_36, //summer intensive
.gform_wrapper #gform_submit_button_38, //innovators
.gform_wrapper #gform_submit_button_37, //univercity prep
.gform_wrapper #gform_submit_button_40, //butterfly-program
.gform_wrapper #gform_submit_button_41, //hare-course
.gform_wrapper #gform_submit_button_42, //rooster course
.gform_wrapper #gform_submit_button_43, //fish course
.gform_wrapper #gform_submit_button_44, //deer course
.gform_wrapper #gform_submit_button_45 //events
{
  font-family: 'Roboto Light',sans-serif;
  display:inline-block;
  background-color: #00ADEF;
  text-align: center;
  padding: .5em 1em;
  border-radius: 5px;
  font-size: 1.2em;
  border:none;
  color:#fff;
}

.gform_wrapper #gform_submit_button_36,  //summer intensive
.gform_wrapper #gform_submit_button_38 {
  background-color: #F58E31;
}

.topic-button a {
  text-decoration: none;
}

.topic-button .cfs-hyperlink {
  color:#FFF;
}
.video-image, .topic-button {
    margin: 1em 0 1em 0;
}

.video-image, .topic-image  {
  width:100%;
  text-align:center;
}

.video-wrapper, .single-wrapper {
  text-align: center;
}

// latest blog post loop

.hp-blog-post ul {

  list-style:none;
}

@media screen and (min-width: 20em) {

    .topic-button {
      font-size:1em;
    }

}



@media screen and (min-width: 26em) {

  .topic-button {
    font-size:1.2em;
  }


} // end 26em


@media screen and (min-width: 45em) {

  .page-template-front-page .page-title {
    font-size:1.5em;
  }

} // end 40em

@media screen and (min-width: 64em) { // 1024px

  .group-1-programs-wrapper {
    display:flex;
    padding:0 0 2em 0;
    }

  .group-course-wrapper {
    flex-direction: column;
    padding-bottom:4em;
    position:relative;
    }

  .hp-course-title {
    font-size: 1.2em;
    }

  .more-info-homepage {
    font-size:1em;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    }

  // group 2 programs

  .group-2-programs-wrapper {
    display:flex;
    flex-wrap:wrap;
    margin: 0 1em;
    }

  .hp-blog-wrapper {
    position: relative;
    display: flex;
    padding: 1em 0 0 1em;
    }

  .hp-blog-post {
    display: flex;
    flex: 1 0 50%;
    }

    .hp-blog-post li {
      position: relative;
      padding-bottom:4em;
    }

  .hp-blog-post ul {
    display: flex;
    flex: 0 0 50%;
    padding: 0 1em 0 0;
    }

}
// end 64em
