<<<<<<< HEAD
=======
.admin-bar .site-logo img {
  padding-top: 70px;
}
@media screen and (min-width: 783px) {
  .admin-bar .site-logo img {
    padding-top: 56px;
  }
}
>>>>>>> f9845b96cde3763cba43b6f44eabb94302e27700

.site-header {
	display:flex;
	justify-content:space-between;
<<<<<<< HEAD
	margin-top:1em;
=======
>>>>>>> f9845b96cde3763cba43b6f44eabb94302e27700
	background-color: #FFF;
	background-size: cover;
	min-width:320px;
	min-height: 4.5em;
<<<<<<< HEAD
=======
}

.student-login {
  padding-top:2px;
  height:2em;
  background-color: #00ADEF;
  width:100%;
  position: absolute;
  text-align:right;
  border-top: 4px solid #FFF;
  border-right: 4px solid #FFF;
  border-left: 4px solid #FFF;
z-index:220;

}

.student-login a {
  text-decoration: none;
  font-family: sans-serif;
  color:#FFF;
  margin-right: 15px;
>>>>>>> f9845b96cde3763cba43b6f44eabb94302e27700

}

@media screen and (min-width: 50em) {
	.site-header {
		min-height: 4em;
	}
} // end @media 50em

.site-logo {
	z-index:200;
}
.site-logo img {
	padding-top:1em;
	max-width:200px;
}

.site-logo a {
	position: absolute;
	top: 1em;
	left: 1em;
	display: block;
	width: 12em;
	height: 3.4em;
	color: white;
	text-decoration: none;
}
