.page-title {
	text-align: center;
}

.taxonomy-description {
    margin-top: 1.5em;
    border: 1px solid #c3c3c3;
    padding: .5em 1.8em 0;
    text-align: center;
    font-style: italic;
}

.entry-title.index-excerpt {
	margin-top: 2em;
	margin-bottom: .5em;
	font-size: 1.5em;
}

.entry-header .index-entry-meta {
	font-size: .8em;
}

.entry-content.index-excerpt {
	margin-top: .3em;
}

@media screen and (min-width: 30em) {
	.entry-title.index-excerpt {
		margin-top: 1.5em;
		font-size: 2em;
	}

	.index-entry-meta {
		font-size: 1em;
	}

	.index-entry-meta .byline,
	.index-entry-meta .posted-on,
	.index-entry-meta .comments-link {
		display: inline-block;
	}

	.index-entry-meta .byline::after,
	.index-entry-meta .comments-link::before {
		content: "|";
		padding: 0 1em;
	}
}

.continue-reading {
	text-align: center;
}

.continue-reading a,
.entry-content .continue-reading a {
	display: inline-block;
	margin: 1em auto;
	text-decoration: none;
	font-size: 1em;
}

.continue-reading a:hover,
.continue-reading a:focus,
.entry-content .continue-reading a:hover,
.entry-content .continue-reading a:focus {
	border-color: #000;
	border-width: 1px;
	box-shadow: none;
}

.continue-reading a::after {
	content: ">"
}
.continue-reading::after {
	display: block;
    content: "";
    width: 7em;
}

.entry-content .continue-reading::after {
	display: none;
}

.error-404 input[type="search"],
.search-no-results input[type="search"] {
	width: 100%;
	margin-bottom: 4em;
	padding: .5em 1em;
	box-sizing: border-box;
}

.error-404 .search-submit,
.search-no-results .search-submit {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
