/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover,
a:focus,
a:active {
	color: #000;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: block;
	width: 100%;

}

.main-navigation ul {
	display: none;
	list-style: none;
	margin-left: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation ul ul {
	display: none;
	margin-left: 2em;//changed from .8en
}

.main-navigation a {
	position: relative;
	display: block;
	padding: 0.8em .5em;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	text-decoration: none;
	line-height: 1.6em;
	color: #666;
}

.main-navigation a:hover,
.main-navigation a:focus {
	background: #fff;
	color: #000;
}

.main-navigation a,
.main-navigation ul ul li:lastchild a {
	border-bottom: 1px solid white;
}

.main-navigation ul li:last-child a {
	border-bottom: none;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation li {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	position: relative;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	font-weight: 700;
	color: #000;
}

.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
	border-top: 0;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
	padding-right: 38px; //distance between nav items and chevron
}

.main-navigation a {
	padding-left:0;
}

.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	position: absolute;
	border:none;
	height: 27px;
	width: 27px;
	top: 12px;
	right: 2em;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	font-family: 'FontAwesome';
	background-color:transparent;
	content: "";
	color: #000;
	text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
}

.dropdown-toggle:after {
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 1px;
	width: 27px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: #fff;
	color: #000;
	outline:none;
		transition: all ease-out 400ms;
}

.dropdown-toggle.toggle-on:after {
	content: "\f077";
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	padding: 0;
  margin: 1.4em .5em 0 0;
  z-index: 200;
  font-size: 2em;
  text-transform: uppercase;
  color: #333;
  border: none;
  float: right;
}

.menu-toggle:hover,
.menu-toggle:focus {
	text-decoration: none;
	color:#000;
}

ul.nav-menu {
 	margin: 6em 0 3.5em 3em;

}

/* Hovering menu */

.main-navigation.toggled {
	position: relative;
	bottom: 0;
	z-index: 1;
}

.nav-menu {
	padding: 1em 0 1em 0;
	margin-bottom: 1em;
	background-color: #FFF;

}

.main-navigation.toggled ul {
	max-height: calc(100vh - 8em);
	overflow-y: auto;
}

.main-navigation.toggled ul ul {
	display: none;
}

.main-navigation.toggled ul ul.toggled-on,
.main-navigation.toggled ul ul.toggled-on > ul {
	display: block;
}

@media screen and (min-width: 48em) {

	ul.nav-menu {
	 	margin: 6em 0 3.5em 20em;
		transition: all ease-out 400ms;
	}

}


/* Horizontal menu on wide screens */
@media screen and (min-width: 64em) {
	.site-header {
		height: 9.5em;
	}

	.main-navigation a {
		padding: 0.8em .5em;
}
	/* Position the menu in the header */
	.main-navigation,
	.main-navigation.toggled {
		position: relative;
		min-height: 6em;
		left:.5em; //new
	}
	.main-navigation a {
		font-size:.98em;
	}

	  .admin-bar .main-navigation,
	  .admin-bar .main-navigation.toggled {
		position: relative;
		min-height: 7em;
	}

	.nav-menu {
		background-color: transparent;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		max-height: none;
		padding-left: 0;
	}

	.main-navigation.toggled ul {
		overflow-y: visible;
	}

	.dropdown-toggle:after {
		font-size: 12px;
	}

	/* Display the menu items in a horizontal order */
	.main-navigation li {
		display: inline-block;
		border: none;
	}

	/* Add an outline to the drop-down menus */
	.main-navigation ul ul {
		outline: 1px solid #333;
	}

	/* Left-align drop-down menu items */
	.main-navigation li li {
		display: block;
		text-align: left;
	}

	.main-navigation a,
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
	}

	/* Add an outline on hovered and focused menu items */
	.main-navigation a:hover,
	.main-navigation a:focus {
		background: transparent;
		color: #000;
		text-decoration: underline;
		outline: solid 1px #b3b3b3;
	}

	/* Create hover and focus contrast on drop-down items */
	.main-navigation li li a:hover,
	.main-navigation li li a:focus {
		background: #eee;
		color: #000;
		text-decoration: none;
	}

	/* Position drop-down menus absolutely */
	.main-navigation ul ul.toggled-on {
		position: absolute;
		width: 170px;
		display: block;
		z-index: 10;
		margin-left: .5em;
    background-color: #FFF;
	}

	.main-navigation ul ul ul.toggled-on {
		position: relative;
	}

	/* Indent 3rd level drop-down menus */
	.main-navigation ul ul ul a {
		padding-left: 2em;
	}

	/* Simplify the drop-down toggle */
	.dropdown-toggle {
		top: 11px;
		right: 12px;
		border: none;
	}

	.dropdown-toggle::after {
		line-height: 27px;
		width: 27px;
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
		 text-align:left;
	}

	ul.nav-menu {
	 	margin: 5.5em 0 0 0;

	}
}

@media screen and (min-width: 80em) {
	.dropdown-toggle:after {
		font-size: 14px;
	}
	ul.nav-menu {
	 	margin: 4em 0 0 0;
		font-size:1.2em;
		line-height:0;
		}
		.dropdown-toggle {
			top: 16px;
			right: 12px;
			border: none;
		}

}
