/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover,
a:focus,
a:active {
	color: #000;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-header-main {
	display:flex;
	align-self: flex-end;
  padding: 0 1em 0 1em;
	width:100%;
}

.site-header-menu {
	display: none;
	flex: 0 1 100%;
	margin-top: 4em;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	max-height: calc(100vh - 8em);
	overflow-y: visible;
	display: block;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
}

.main-navigation li {
	border-top: 1px solid #d1d1d1;
	position: relative;
}

.main-navigation a {
	font-family: 'Fira Sans', sans-serif;
	text-decoration: none;
	color: #1a1a1a;
	display: block;
	line-height: 1.3125;
	outline-offset: -1px;
	padding: 0.84375em 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #333;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation .primary-menu {
	border-bottom: 1px solid #d1d1d1;
}

.main-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.dropdown-toggle {
	font-family: 'FontAwesome';
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.dropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f078";
	font-size: 14px;
	left: 1px;
	position: absolute;;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: transparent;
	color: #333;
}

.dropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.dropdown-toggle:focus:after {
	border-color: transparent;
}

.dropdown-toggle.toggled-on:after {
	content: "\f077";
}

.menu-toggle {
	display: flex;
  align-self: flex-end;
  margin:.35em .35em 0 0;
	padding:0;
  font-size: 2.4em;
  color: #333;
  border: none;

}

/* Horizontal menu on wide screens */
@media screen and (min-width: 64em) {

	.site-header-main {
		align-self: flex-start;
    flex-wrap: wrap;
    // padding: 3.5em 0 0 1em;
		}

		.site-header-menu {
			display: block;
			// -webkit-flex: 0 1 auto;
			// -ms-flex: 0 1 auto;
			// flex: 0 1 auto;

		}

		.main-navigation {
			margin: 1em -0.875em;
		}

		.main-navigation .primary-menu,
		.main-navigation .primary-menu > li {
			border: 0;
		}

		.main-navigation .primary-menu > li {
			float: left;
		}

		.main-navigation a {
			outline-offset: -8px;
			padding: 0.65625em 0.875em;
			white-space: nowrap;
		}

		/* font-size for navigation only */
		@media screen and (min-width: 68.5em) {
			.main-navigation a {
				font-size: 1.1em;
}
				.main-navigation ul ul a {
				font-size: 1em;
				}
		}

		.main-navigation li:hover > a,
		.main-navigation li.focus > a {
			color: #000;
		}

		.main-navigation ul ul {
			border-bottom: 1px solid #d1d1d1;
			display: block;
			margin: 0;
			left: -999em;
			margin: 0;
			position: absolute;
			z-index: 99999;
			width:210px;
		}

		.main-navigation ul ul ul {
			top: -1px;
		}

		.main-navigation ul ul ul:before,
		.main-navigation ul ul ul:after {
			border: 0;
		}

		.main-navigation ul ul li {
			background-color: #fff;
			border: 1px solid #d1d1d1;
			border-bottom-width: 0;
		}

		.main-navigation ul ul li:hover {
			background-color: #eae5e5;
		}

		.main-navigation ul ul a {
			white-space: normal;

		}

		.main-navigation ul ul:before,
		.main-navigation ul ul:after {
			border-style: solid;
			// content: "";
			position: absolute;
		}

		.main-navigation ul ul:before {
			border-color: #d1d1d1 transparent;
			border-width: 0 10px 10px;
			right: 8px;
			top: -9px;
		}

		.main-navigation ul ul:after {
			border-color: #fff transparent;
			border-width: 0 8px 8px;
			right: 10px;
			top: -7px;
		}

		.main-navigation li:hover > ul,
		.main-navigation li.focus > ul {
			left: 10px;
			right: 0;
		}

		.main-navigation ul ul li:hover > ul,
		.main-navigation ul ul li.focus > ul {
			left: auto;
			right: 100%;
		}

		.main-navigation .menu-item-has-children > a {
			margin: 0;
			padding-right: 2.25em;
		}

		.main-navigation .menu-item-has-children > a:after {
			font-family: 'FontAwesome';
			content: "\f078";
			position: absolute;
			right: 22px;
			font-size: 12px;
    	bottom: 15px;
		}

		.main-navigation ul ul .menu-item-has-children > a {
			padding-right: 2.0625em;
		}

		.main-navigation ul ul .menu-item-has-children > a:after {
			right: 0.5625em;
			top: 0.875em;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		.dropdown-toggle,
		.main-navigation ul .dropdown-toggle.toggled-on,
		.menu-toggle {
			display: none;
		}

	.site-header {
		height: 9.5em;
	}

}

@media screen and (min-width: 80em) {
	.dropdown-toggle:after {
		font-size: 14px;
	}
	ul.nav-menu {
	 	margin: 4em 0 0 0;
		font-size:1.2em;
		line-height:0;
		}
		.dropdown-toggle {
			top: 16px;
			right: 12px;
			border: none;
		}

}
