<<<<<<< HEAD
// early literacy program


.program-title {
    display: table;
    line-height: 15px;
    margin: 1em auto;
    text-decoration: none;
    border-bottom: double;
    text-align:center;
    border-color:#333;
    font-size:1.6em;
}

.stream-class-wrapper {
  width:100%;
   display:flex;
   flex-wrap:nowrap;
}

.three-animal-image, .two-animal-image, .animal-image {
  padding:0 3px 0 0;
  width:60px;
  flex:0 0 25%;
  display:flex;
}

.three-animal-image img,.two-animal-image img, .animal-image img {
    width:60px;
    height:60px;
}

// .two-animal-image img:empty {
//   display: none;
// }
// .three-animal-image img:empty {
//   display: none;
// }
=======
//  programs overview

.program-space {
  margin-bottom:3em;
}

#post-48 {
    background-color: #FCDFF1;
}

#post-70 {
  background-color: #FBD5AE;
}

#post-59 {// fish
      background-color: #FFF5C2;
}

.program-title {
    margin: 0 auto;
    text-decoration: none;
    text-align:center;
}

.program-wrapper {
   display:flex;
   flex-direction: column;
}

.bkgd-color .post-id-48 {
  background-color: #FCDFF1;
}

.animal-image {
  width:130px;
  display:flex;
  align-self: flex-end;
}

.animal-image img {
    width:130px;
    height:130px;
}
>>>>>>> f9845b96cde3763cba43b6f44eabb94302e27700

img[src=""] {
    display: none;
}

<<<<<<< HEAD
.class-name {
  font-weight: 700;
  display:flex;
  width:200px;

}

.name-description {
  flex-wrap:wrap;
  flex-direction: column;
  flex:0 0 75%;
  display:flex;
}
.class-description {
  font-size: .9em;
  display:flex;
}

.cr-float {
  width:100px;
  align-self: flex-end;
}

.program-courses-wrapper {
  width:100%;
}

h3.program-sub-title {
  margin: 1em 0;
}

.postid-59 {// fish
      background-color: #ffff00;
}

.postid-48 {// butterfly
      background-color: #e564d0;
}

@media screen and (min-width: 30em) {
	.cr-float {
		width:200px;
    font-size:1em;
	}
}
=======
.program-overview-btn {
  background-color: #fcdff1;
  margin:1em 0 1em 0;
  padding:1em .5em 1em .5em;
  text-align:center;
  align-self: center;
  border-radius: 5px;
  font-size: 1.8em;
  font-family: 'Verdana',sans-serif;
  line-height: 1;
  font-weight: lighter;

}

.program-overview-btn a {
  text-decoration: none;
  font-family:sans-serif;
}



// .postid-70 {// Acaademic enrichment
//       background-color: #FBD5AE;
// }
//
// .postid-48 {// butterfly
//       background-color: #ED198B;
// }
//
// .postid- {// hare
//       background-color: #53B949;
// }
// .postid- {// deer
//       background-color: #F7941E;
// }
//
// .postid-48 {// rooster
//       background-color: #E21E38;
// }

// @media screen and (min-width: 30em) {
// 	.program-overview-btn {
// 		width:200px;
//     font-size:1em;
// 	}
// }
>>>>>>> f9845b96cde3763cba43b6f44eabb94302e27700
